@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  @apply min-h-full;
}

body {
  @apply text-color-primary min-h-full;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer components {
  .card {
    @apply bg-white rounded-lg p-4 shadow-lg mb-4 flex flex-col gap-3;

    .card-header {
      @apply flex gap-2;
    }

    .card-title {
      @apply text-xl font-medium;
    }

    .card-description {
      @apply text-color-text-light
    }

    .card-body {
      @apply gap-3;
    }
  }

  .form-control {
    @apply flex flex-col gap-2;
    @apply text-sm antialiased font-medium;

    .form-control-content {
      @apply border border-color-border rounded-md flex divide-x;

      * {
        @apply px-3 py-2
      }

      .form-control-content-prefix, .form-control-content-suffix {
        @apply bg-color-border;
      }

      .form-control-input {
        @apply grow;
      }
    }

    &.form-control-layout-raw>* {
      @apply hidden;
    }

    &.form-control-layout-raw>.form-control-content {
      @apply flex;
    }
  }
}